.vidFrame {
  margin-left: 0;
  margin-right: 0;
}

.vidBar {
  position: absolute;
  bottom: 0.5rem;
}

.videoControl {
  background: transparent;
  border: none;
}

.videoControl .material-icons {
  /* color: white; */
}

.material-icons {
  /* color: white; */
}
