.online-user-window {
  position: fixed;
  width:250px;
  /* padding: 10px; */
  bottom: 0px;
  right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.online-user-window-title-section {
  border-bottom: 1px solid grey;
  padding: 10px 5px;
  display: flex;
}

.title {
  flex: 1;
}

.online-user-count {
  flex: 1;
  text-align: right;
  color: green;
}

.user-list-container {
  height: 350px;
  padding: 0 5px;
}

.user-list {
  display: flex;
  margin: 10px 0;
}

.user-list img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.user-list-img {
  flex: 1;
  /* width:"20px" */
}

.user-list-name {
  flex: 8;
}

.offline {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: lightgray;
}

#modal2 {
  position: absolute;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  top: unset !important;
  bottom: 0;
}