.menuPage{
  background-color: #f7f7f7;
 

  .content {
    padding-left: 20%;
    .presentcontent {
      padding: 7% 0%;
    }
    .upcomingcontent{
      padding-bottom: 7%;
    }
    .list{
      font-size: 16px;
      padding: 5px;
    }
  }
}